.navbar-custom {
  background-color: #ffa500; /* Yellow-orange color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-custom .nav-link {
  color: #fff;
}

.navbar-custom .nav-link:hover {
  color: #333;
}
